/*for all light gray elements*/
/*section .hero */
/* .team */
.modal-labels__icon_name,
.modal-labels__icon_phone-number,
.modal-labels__icon_mail {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 30px;
  left: 12px;
  fill: #212121;
}

.abilities__title, .team__title, .clients__title {
  position: relative;
  text-align: center;
  margin: 0 auto 50px auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.hero__button, .follow-email__button, .modal__button {
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  border-color: transparent;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.follow-email__title,
.follow-icons__title {
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  margin-top: 0;
  line-height: 1.42;
  letter-spacing: 0.03em;
  font-size: 14px;
  margin-bottom: 20px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  position: relative;
  display: block;
  background: #ffffff;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover,
a:focus {
  color: #2196f3;
}

ul {
  list-style-type: none;
  margin: 0;
}

input,
textarea,
a,
button {
  outline-color: #2196f3;
}

.main {
  position: relative;
}

.container {
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 15px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
  }
}

.section {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.header {
  position: relative;
  padding: 16px 15px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #e5e5e5;
}

@media screen and (min-width: 480px) {
  .header {
    padding: 16px 15px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    width: 768px;
    padding: 24px 0 25px 0;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    width: 100%;
    padding: 24px 0 0 0;
  }
}

.header-contacts__list {
  position: absolute;
  width: 340px;
  display: none;
}

@media screen and (min-width: 768px) {
  .header-contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 198px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    right: 0;
    top: 24px;
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 340px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
    top: -20px;
  }
}

.header-contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0;
}

@media screen and (min-width: 768px) {
  .header-contacts__link:first-child {
    margin-bottom: 10px;
  }
}

.header-contacts__icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.header-contacts__icon-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.header-contacts__mail,
.header-contacts__phone {
  color: #757575;
}

.logo {
  width: 145px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  padding: 16px 15px;
}

.logo:hover, .logo:focus {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .logo {
    padding: 0;
  }
}

.logo__different-color {
  color: #2196f3;
}

.nav {
  display: none;
}

@media screen and (min-width: 480px) {
  .nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    display: block;
    width: 294px;
    margin-left: 66px;
    padding: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .nav {
    display: block;
    width: 294px;
    margin-left: 95px;
    padding: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.nav__link_active {
  color: #2196f3;
}

.nav__link {
  position: relative;
}

.nav__link_active::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -24px;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  opacity: 1;
  border-radius: 2px;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  right: 20px;
  top: 24px;
  padding: 0;
  background: transparent;
  border: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__button:hover .icon-menu,
.menu__button:focus .icon-menu {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu__button {
    display: none;
  }
}

.icon-cross {
  display: none;
}

.icon-menu {
  display: block;
}

.menu-container {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  height: 796px;
  padding: 38px 0;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  z-index: 100;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  opacity: 1;
  pointer-events: auto;
}

@media screen and (max-width: 400px) {
  .menu-container {
    height: 820px;
  }
}

.menu-container .menu-container__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 64px 0 0 35px;
  padding: 0;
  font-size: 18px;
  line-height: 1.22;
  color: #2196f3;
  width: 357px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu-container .menu-container__socials .menu-container__item {
  border-right: 1px solid #2196f3;
  padding-right: 10px;
}

.menu-container .menu-container__socials .menu-container__item:last-child {
  border-right: none;
  padding-right: 0;
}

@media screen and (max-width: 400px) {
  .menu-container .menu-container__socials {
    width: 80%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.menu-container__navigation__list {
  font-size: 40px;
  line-height: 1.175;
}

.menu-container__navigation__list .menu-container__navigation__item {
  margin-bottom: 35px;
}

.menu-container__navigation__list .menu-container__navigation__link_active {
  color: #2196f3;
}

.menu-container__contacts {
  margin-top: 302px;
  padding: 0 40px;
}

.menu-container__contacts .menu-container__contacts__phone {
  color: #2196f3;
  font-size: 34px;
  line-height: 1.17;
  margin-bottom: 32px;
}

.menu-container__contacts .menu-container__contacts__mail {
  color: #757575;
  font-size: 24px;
  line-height: 1.4;
}

.menu__button.is-open .icon-cross {
  display: block;
}

.menu__button.is-open .icon-menu {
  display: none;
}

.hero {
  width: 100%;
  margin: 0 auto;
  background: #2f303a;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/mobile/hero/Hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/mobile/hero/Hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
}

@media screen and (min-width: 480px) {
  .hero {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    width: 100%;
    max-width: 768px;
    margin: 0;
    height: 400px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/tablet/hero/Hero.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/tablet/hero/Hero.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    width: 100%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/desktop/hero/Hero.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/desktop/hero/Hero.jpg);
  }
}

@media screen and (max-width: 768px) and (min-device-pixel-ratio: 2), screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 768px) and (min-resolution: 192dpi), screen and (max-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../../images/mobile/hero/Hero@2x.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../../images/tablet/hero/Hero@2x.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../../images/desktop/hero/Hero@2x.jpg");
  }
}

@media screen and (min-width: 480px) {
  .hero .container {
    padding-top: 50px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .hero .container {
    padding-top: 66px;
  }
}

@media screen and (min-width: 1200px) {
  .hero .container {
    padding-top: 206px;
  }
}

.hero__title {
  position: relative;
  width: 360px;
  margin: 0 auto;
  padding-bottom: 40px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 480px) {
  .hero__title {
    margin-top: 16%;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    width: 696px;
  }
}

.hero__button {
  display: block;
  padding: 10px 32px;
  margin: 0 auto;
}

.hero__button:hover, .hero__button:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .filter-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: 33.3%;
        flex-basis: 33.3%;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .filter-list {
    width: 611px;
    margin: 50px auto;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .filter-list {
    width: 661px;
    margin: 50px auto;
    padding-left: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
  }
}

.filter-list__button {
  margin: 0 8px 15px 0;
  padding: 5px 20px;
  font-weight: 500;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  line-height: 1.62;
  border-color: transparent;
  border-radius: 5px;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list__button:hover, .filter-list__button:focus {
  background: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.benefits {
  position: relative;
  width: 100%;
}

.benefits .container {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 480px) {
  .benefits .container {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .benefits .container {
    width: 100%;
    padding: 0 15px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits .container {
    margin: 0 auto;
    width: 1170px;
    padding: 0;
  }
}

.benefits__list {
  display: inline-block;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .benefits__list {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .benefits__list {
    width: 738px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.benefits__item {
  width: 100%;
}

@media screen and (min-width: 480px) {
  .benefits__item {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .benefits__item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits__item {
    width: 270px;
  }
}

.benefits__item::before {
  content: "";
  display: block;
  max-width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .benefits__item::before {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .benefits__item::before {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits__item::before {
    width: 270px;
  }
}

.benefits__item_antenna::before {
  background-image: url(../../images/antenna.svg);
}

.benefits__item_clock::before {
  background-image: url(../../images/clock.svg);
}

.benefits__item_diagram::before {
  background-image: url(../../images/diagram.svg);
}

.benefits__item_astronaut::before {
  background-image: url(../../images/astronaut.svg);
}

.benefits__subtitle {
  font-size: 14px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .benefits__subtitle {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .benefits__subtitle {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .benefits__subtitle {
    text-align: left;
  }
}

.benefits__text {
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
  width: 100%;
}

.abilities {
  position: relative;
  padding-top: 0;
  display: none;
}

@media screen and (min-width: 480px) {
  .abilities {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .abilities {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .abilities {
    display: block;
  }
}

.abilities__list {
  position: relative;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.abilities__label {
  position: absolute;
  width: 370px;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.03em;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

.abilities__text {
  margin: 0;
}

.abilities__item {
  width: 370px;
  height: 294px;
}

@media screen and (max-width: 480px) {
  .abilities__title {
    font-size: 26px;
    margin: 0 auto 30px auto;
  }
}

@media screen and (min-width: 480px) {
  .abilities__title {
    font-size: 26px;
    margin: 0 auto 30px auto;
  }
}

@media screen and (min-width: 768px) {
  .abilities__title {
    font-size: 28px;
    margin: 0 auto 30px auto;
  }
}

@media screen and (min-width: 1200px) {
  .abilities__title {
    font-size: 36px;
    margin: 0 auto 50px auto;
  }
}

.team {
  width: 100%;
  margin: 0 auto;
  background-color: #f5f4fa;
  padding: 60px 15px;
}

@media screen and (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 760px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 94px 0;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
}

@media screen and (min-width: 480px) {
  .team .container {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .team .container {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .team.section {
    margin: 0;
  }
}

.team__list {
  display: inline;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 760px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 15px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding-left: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    -ms-flex-wrap: no-wrap;
        flex-wrap: no-wrap;
  }
}

.team__item {
  display: block;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}

.team__item img {
  width: 100%;
}

.team__item .social-icons {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .team__item {
    width: 354px;
  }
  .team__item img {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
    margin-bottom: 0;
  }
  .team__item img {
    width: 100%;
  }
}

.team__content__subtitle,
.team__content__text {
  margin: 0;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team__content {
  padding: 30px 0;
}

.team__content__subtitle {
  font-weight: 500;
  margin-bottom: 15px;
}

.team__content__text {
  color: #757575;
  font-weight: 400;
}

@media screen and (max-width: 480px) {
  .team__title {
    font-size: 26px;
    margin: 0 auto 30px auto;
  }
}

@media screen and (min-width: 480px) {
  .team__title {
    font-size: 26px;
    margin: 0 auto 30px auto;
  }
}

@media screen and (min-width: 768px) {
  .team__title {
    font-size: 28px;
    margin: 0 auto 30px auto;
  }
}

@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    margin: 0 auto 50px auto;
  }
}

.project__list {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  width: 100%;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .project__list {
    padding: 0 15px;
  }
}

@media screen and (min-width: 768px) {
  .project__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .projects {
    width: 100%;
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .projects {
    width: 100%;
    padding: 60px 0;
  }
}

@media screen and (min-width: 768px) {
  .projects .container {
    padding: 0;
  }
}

.projects_item {
  position: relative;
  width: 100%;
  height: 404px;
}

@media screen and (max-width: 480px) {
  .projects_item {
    width: 100%;
    margin-bottom: 30px;
    height: 100%;
  }
}

@media screen and (min-width: 480px) {
  .projects_item {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .projects_item {
    width: 354px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .projects_item {
    width: 370px;
    margin-bottom: 30px;
    /*&:nth-last-child(-n + 3) {
    margin-bottom: 0;
    }*/
  }
}

@media screen and (min-width: 768px) {
  .projects_item:last-child {
    margin-right: auto;
    margin-left: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .projects_item:last-child {
    margin-right: 0;
    margin-left: 0;
  }
}

.projects_link {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects_link:hover .projects-thumb-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.projects_link:hover, .projects_link:focus {
  display: block;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: inherit;
}

.project-list__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.04em;
  margin: 0;
}

.project-list__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.project-list__content {
  border: 1px solid #eeeeee;
  border-top: 1px solid transparent;
  padding: 20px 24px;
}

.projects-thumb {
  position: relative;
  overflow: hidden;
}

.projects-thumb__img {
  width: 100%;
}

@media screen and (min-width: 480px) {
  .projects-thumb__img {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .projects-thumb__img {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .projects-thumb__img {
    width: 370px;
  }
}

.projects-thumb-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
  color: #eeeeee;
  line-height: 1.56;
  font-weight: 400;
  font-size: 18px;
}

.projects-thumb-overlay__text {
  margin: 0;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 30px 0 32px;
  width: 270px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-icons__link {
  width: 44px;
  height: 44px;
  padding: 12px;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons__link:hover, .social-icons__link:focus {
  color: #eeeeee;
  background-color: #2196f3;
  border-radius: 50%;
}

.social-icons__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.follow-icons {
  width: 206px;
  position: relative;
  margin: 8px auto 60px auto;
}

@media screen and (min-width: 768px) {
  .follow-icons {
    margin-top: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .follow-icons {
    width: auto;
    margin-left: 70px;
    margin-top: 8px;
  }
}

.follow-icons .social-icons {
  padding: 0;
  width: 206px;
}

.follow-icons .social-icons__link {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--border-color2);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.follow-icons .social-icons .social-icons__link:hover, .follow-icons .social-icons .social-icons__link:focus {
  background-color: #2196f3;
}

.follow-email__title,
.follow-icons__title {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .follow-email__title,
  .follow-icons__title {
    text-align: left;
  }
}

.follow-email {
  position: relative;
  margin: 8px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .follow-email {
    display: block;
    height: 86px;
    margin: 8px 0 0 53px;
    min-width: 570px;
  }
}

.follow-email__input {
  max-width: 450px;
  margin: 0 auto;
  height: 50px;
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 16px 15px;
  background: transparent;
  color: #757575;
}

@media screen and (max-width: 480px) {
  .follow-email__input {
    display: block;
    width: 95%;
  }
}

@media screen and (min-width: 480px) {
  .follow-email__input {
    max-width: 450px;
    margin: 0 auto;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .follow-email__input {
    width: 450px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .follow-email__input {
    width: 358px;
    margin: 0;
  }
}

.follow-email__button {
  position: relative;
  display: inline-block;
  margin: 20px auto 60px auto;
  width: 200px;
  height: 50px;
  padding: 10px 24px 10px 0;
}

@media screen and (max-width: 480px) {
  .follow-email__button {
    display: block;
    margin: 20px auto;
  }
}

@media screen and (min-width: 480px) {
  .follow-email__button {
    display: block;
    margin: 20px auto;
  }
}

@media screen and (min-width: 768px) {
  .follow-email__button {
    display: block;
    margin: 20px auto;
  }
}

@media screen and (min-width: 1200px) {
  .follow-email__button {
    position: absolute;
    margin: -50px 0 0 370px;
  }
}

.follow-email__icon-send {
  position: absolute;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  margin-top: 3px;
}

.clients {
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .clients {
    width: 768px;
    padding: 94px 0;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    margin: 0 auto;
    padding: 94px 0;
  }
}

.clients.container {
  margin: 0;
  padding: 60px 0px;
}

@media screen and (min-width: 480px) {
  .clients.container {
    width: 480px;
    margin: 0 auto;
    padding: 60px 0;
  }
}

@media screen and (min-width: 768px) {
  .clients.container {
    width: 768px;
    margin: 0;
    padding: 60px 0;
  }
}

@media screen and (min-width: 1200px) {
  .clients.container {
    width: 1200px;
    margin: 0 auto;
    padding: 90px 15px;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  width: 100%;
  margin-left: calc(30px/ 2);
  margin-right: calc(30px/ 2);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 480px) {
  .clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0;
    margin-right: calc(30px/ 2);
    padding: 0;
  }
}

@media screen and (min-width: 480px) {
  .clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    padding: 0;
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 738px;
    -webkit-padding-start: 0px;
            padding-inline-start: 0px;
    margin-left: 0;
    margin-right: calc(30px/ 2);
  }
}

@media screen and (min-width: 1200px) {
  .clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 1170px;
    margin: 0;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-padding-start: 0px;
            padding-inline-start: 0px;
  }
}

@media screen and (max-width: 480px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
        flex-basis: calc((100% - 2 * 30px) / 2);
    margin-right: 30px;
  }
}

@media screen and (min-width: 480px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
        flex-basis: calc((100% - 2 * 30px) / 2);
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 3 * 30px) / 3);
        flex-basis: calc((100% - 3 * 30px) / 3);
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    display: inline-block;
    margin-right: 30px;
    width: 170px;
  }
}

.clients__item:nth-child(3n) {
  margin-right: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item:nth-child(3n) {
    margin-right: 0;
  }
}

.clients__item:nth-child(2n) {
  margin-right: 30px;
}

@media screen and (max-width: 767px) {
  .clients__item:nth-child(2n) {
    margin-right: 0;
  }
}

.clients__link {
  display: block;
  border: 1px solid #e5e5e5;
  height: 92px;
  color: #afb1b8;
  margin-bottom: 30px;
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border-color: #2196f3;
}

.clients__icon {
  display: block;
  margin: 22px auto;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .clients__item:last-of-type {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item:last-of-type {
    margin-right: 0;
  }
}

@media screen and (max-width: 480px) {
  .clients__title {
    font-size: 26px;
    margin: 0 auto 30px auto;
  }
}

@media screen and (min-width: 480px) {
  .clients__title {
    font-size: 26px;
    margin: 0 auto 30px auto;
  }
}

@media screen and (min-width: 768px) {
  .clients__title {
    font-size: 28px;
    margin: 0 auto 30px auto;
  }
}

@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    margin: 0 auto 50px auto;
  }
}

footer {
  position: relative;
  width: 100%;
  background: #2f303a;
  color: #ffffff;
  padding: 60px 0;
}

@media screen and (min-width: 768px) {
  footer {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  footer .footer__tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

footer .container {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  footer .container {
    width: 768px;
    margin: 0;
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    width: 1170px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

footer .logo {
  display: block;
  color: #ffffff;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  footer .logo {
    margin: 0;
  }
}

.address {
  display: block;
  margin: 30px auto 0 auto;
  text-align: center;
  width: 231px;
  font-style: normal;
  font-weight: 400;
}

@media screen and (min-width: 480px) {
  .address {
    text-align: center;
    margin-top: 15px;
  }
}

@media screen and (min-width: 768px) {
  .address {
    text-align: center;
    margin-top: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .address {
    text-align: left;
    margin: 30px 0 0 0;
  }
}

.footer_contacts {
  margin: 0 auto 60px auto;
}

@media screen and (min-width: 1200px) {
  .footer_contacts {
    margin: 0;
    text-align: left;
  }
}

.footer_contacts__mail,
.footer_contacts__phone {
  text-align: center;
  display: block;
  margin-top: 15px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .footer_contacts__mail,
  .footer_contacts__phone {
    text-align: left;
  }
}

.footer_contacts__mail:link {
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer_contacts__mail:hover, .footer_contacts__mail:focus {
  color: #2196f3;
}

.footer_contacts__phone:link {
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer_contacts__phone:hover, .footer_contacts__phone:focus {
  color: #2196f3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  height: 609px;
  width: 450px;
  background: #ffffff;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0 40px;
}

@media screen and (max-width: 480px) {
  .modal {
    width: 80%;
    height: 609px;
    left: 45%;
    -webkit-transform: translate(-45%, -50%) scale(1);
            transform: translate(-45%, -50%) scale(1);
  }
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
    left: 45%;
    -webkit-transform: translate(-45%, -50%) scale(1);
            transform: translate(-45%, -50%) scale(1);
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
    height: 609px;
    left: 400px;
    -webkit-transform: translate(-55%, -50%) scale(1);
            transform: translate(-55%, -50%) scale(1);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

.modal__close-button {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  top: 8px;
  right: 8px;
}

.modal__close-button:hover .modal__close-icon,
.modal__close-button:focus .modal__close-icon {
  fill: #2196f3;
}

.modal__close-icon {
  margin: 8px auto;
  width: 11px;
  height: 11px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  position: relative;
  font-family: Roboto;
  margin: 0px;
  top: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 480px) {
  .modal__title {
    text-align: center;
    width: 85%;
  }
}

@media screen and (min-width: 480px) {
  .modal__title {
    display: block;
    width: 370px;
    height: 60px;
    padding: 0 10px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .modal__title {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .modal__title {
    display: inline;
    width: 100%;
    top: 40px;
    padding: 0;
    text-align: left;
  }
}

.modal-form {
  position: absolute;
  top: 75px;
  width: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 400;
}

@media screen and (max-width: 480px) {
  .modal-form {
    width: 97%;
    top: 112px;
  }
}

@media screen and (min-width: 480px) {
  .modal-form {
    width: 370px;
    top: 112px;
  }
}

@media screen and (min-width: 768px) {
  .modal-form {
    width: 370px;
    top: 112px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form {
    top: 75px;
    width: 448px;
  }
}

.modal-labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  color: #757575;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal-labels__input_comment::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-labels__input_comment:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-labels__input_comment::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-labels__input_comment::placeholder {
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-labels__input {
  width: 100%;
  height: 40px;
  border: 0.5px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding: 12px 12px 12px 42px;
  background-color: #fff;
}

@media screen and (max-width: 479px) {
  .modal-labels__input {
    width: 80%;
  }
}

.modal-labels__icon_phone-number {
  top: 98px;
}

.modal-labels__icon_mail {
  top: 166px;
}

.modal-labels__input {
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-labels__icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-labels:hover .modal-labels__input, .modal-labels:focus .modal-labels__input, .modal-labels:focus-within .modal-labels__input {
  border-color: #2196f3;
  cursor: pointer;
}

.modal-labels:hover .modal-labels__icon, .modal-labels:focus .modal-labels__icon, .modal-labels:focus-within .modal-labels__icon {
  fill: #2196f3;
}

.modal__button {
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  top: 20px;
  padding: 10px 55px;
}

@media screen and (max-width: 479px) {
  .modal__button {
    width: 50%;
    margin-left: 17%;
    padding: 10px 10%;
  }
}

.modal-labels__input_comment {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  resize: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

@media screen and (max-width: 479px) {
  .modal-labels__input_comment {
    width: 80%;
  }
}

.modal-labels__agreement {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: inline;
  margin: 10px 0 20px 12px;
  padding: 0;
}

.modal-labels__link {
  text-decoration: underline;
  color: #2196f3;
  display: inline;
}

.modal-labels__agreement__text {
  position: absolute;
  left: 20px;
  bottom: 62px;
}

@media screen and (max-width: 479px) {
  .modal-labels__agreement__text {
    width: 80%;
    bottom: 42px;
  }
}

@media screen and (max-width: 1199px) {
  .modal-labels__agreement__text {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-labels__agreement__text {
    bottom: 60px;
    left: 35px;
  }
}

.modal-checkbox {
  position: absolute;
  cursor: pointer;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  opacity: 0;
}

@media screen and (max-width: 1199px) {
  .modal-checkbox {
    margin: 0 0 0 -12px;
  }
}

.modal-checkbox:focus {
  opacity: 1;
  z-index: 100;
}

.modal-checkbox:checked + .checkmark {
  background-color: #2196f3;
  background-image: url(../images/checkbox.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.checkmark {
  position: absolute;
  width: 16px;
  height: 15px;
  left: 0;
  border-radius: 2px;
  background-color: #eeeeee;
  border: 2px solid #212121;
}

@media screen and (min-width: 1200px) {
  .checkmark {
    left: 12px;
  }
}

.checkmark:hover, .checkmark:focus {
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */