:root{
  --main-color:#212121;
  --color2:#2196f3;
  --color3:#757575; /*for all light gray elements*/
  --border-color:#e5e5e5;
  --border-color2:#eeeeee;
  --bg-color1:#ffffff;
  --bg-color2:#2f303a; /*section .hero */
  --bg-color3:#f5f4fa; /* .team */
  --main-font:Roboto,sans-serif;
  --logo-font:Raleway,sans-serif;
  --font-normal:400;   
  --font-medium:500;
  --font-bold:700;
  --font-ultra-bold:900;
  --projects-item-gap:30px;
}
html{box-sizing: border-box;}
* {box-sizing:inherit;}
body {
  position: relative;
  display: block;
  margin:0;
  background: var(--bg-color1);
  font-family:var( --main-font);
  font-style: normal;
  font-weight: var(--font-medium);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
img{
  display:block;
  max-width:100%;
  height: auto;
}
.container{
  width: 1200px;
  margin:0 auto;
  padding:0 15px;

}
.section{
  padding: 94px 0;
}
/* Header */
header {
  padding: 24px 0 25px 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--border-color);
}
a {
  text-decoration: none; 
  color:var(--main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
a:hover, a:focus, header .list-contacts a:hover,
header .list-contacts a:focus {
  color:var(--color2);
  }
ul {
  list-style-type: none;
  margin:0;
}
/* Navigation*/
/* Link Logo "WebStudio" */
.logo span {
  color: var(--color2);
}
.logo {
  width: 145px;
  font-family: var(--logo-font);
  font-style: normal;
  font-weight: var(--font-bold);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
/* Link Logo "WebStudio" */
.nav-list {
  width: 294px;
  margin-left:95px;
  padding:0;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.current{
  color: var(--color2);
}
.nav-link{position:relative;}
.current::after{
  content:"";
  display:block;
  position:absolute;
  bottom:-24px;
  width:100%;
  height:4px;
  background-color:var(--color2);
  opacity:1;
  border-radius: 2px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
header .list-contacts {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width:340px;
  justify-content:space-between;
  margin-left:auto;
  margin-top:-20px;
  padding:0;
}

.contacts-link{
  display: flex;
    align-items: center;
}
.icon-mail{
  width:16px; 
  height:12px;
  margin-right:10px;
  fill:currentColor;
}

.icon-phone{
   width:10px; 
   height:16px;
   margin-right:10px;
   fill:currentColor;
}
.list-contacts .mail,
.list-contacts .phone {
  color:var(--color3);
}
/* Header */
/* Main Portfolio page*/

.list-filter {
  width: 661px;
  margin:0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom:50px;
  
 }
.filter-button {
  padding: 5px 20px;
  font-weight:500;
  font-size: 16px;
  font-family: var(--main-font);
  line-height: 1.62;
  border-color: transparent;
  border-radius: 5px;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
   color 250ms cubic-bezier(0.4, 0, 0.2, 1),
   box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-button:hover, .filter-button:focus {
  background: var(--color2);
  color:var(--bg-color1);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    
  }
/*Section Projects*/
.list-projects {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  padding-inline-start: 0;
  justify-content: space-between;
  flex-basis: calc;
  flex: auto;
}
.list-projects-item {
  position: relative;
 /* width: 370px;*/
  height: 404px;
  margin-bottom: 30px; 
  
}
.list-projects-link{
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-projects-link:hover,.list-projects-link:focus{
  display:block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color:inherit;
}

.list-projects-item:nth-last-child(-n+3){ margin-bottom: 0; }
.list-project-subtitle {
  font-weight: var(--font-bold);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.04em;
  margin:0;
}
.list-project-text {
  font-weight: var(--font-normal);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color:var(--color3);
}
.project-content{
  border:1px solid var(--border-color2);
  border-top:1px solid transparent;
  padding:20px 24px; 
}
.projects-thumb{position: relative; overflow:hidden;}
.project-thumb-overlay{
  position:absolute;
  top:0;
  left:0;
  height: 100%;
  width:100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  opacity:0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
              opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding:63px 24px;
  color:var(--border-color2);
  line-height: 1.56;
  font-weight: var(--font-normal);
  font-size: 18px;
}
.project-thumb-overlay-text{margin:0;}
.list-projects-link:hover .project-thumb-overlay{
  transform: translateY(0);
  opacity:1;
  
}
/* Main Portfolio page*/
/*Footer*/
footer {
  position: relative;
  display:flex;
  background:var(--bg-color2);
  color:var(--bg-color1);
  padding: 60px 0;
}
footer .container{display:flex;}
footer .logo {
  color: var(--bg-color1);
}
address {
  margin-top: 30px;
  font-style: normal;
  font-weight: var(--font-normal);
}
footer .mail, footer .phone  {
  display: block;
  margin-top: 15px;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
footer .phone:link,
footer .mail:link {
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 
}
footer a:hover,
footer a:focus,
footer .phone:hover,
footer .mail:hover,
footer .phone:focus,
footer .mail:focus {
  color:var(--color2);
}

.follow-icons{
  position: relative;
  margin-left: 60px;
  margin-top:8px;
  }

.follow-icons .social-icons{
  padding:0;
  width:206px;
 
}
.follow-icons .social-icons .social-link{
  border-radius:50%;
  background-color: rgba(255, 255, 255, 0.1);
  color:var(--border-color2);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.follow-icons .social-icons .social-link:hover, .follow-icons .social-icons .social-link:focus{
 background-color:var(--color2);
}
.follow-title{
  text-transform: uppercase;
  font-family: var(--main-font);
  font-weight: var(--font-bold);
  margin-top:0;
  line-height: 1.42;
  letter-spacing: 0.03em;
  font-size: 14px;
  margin-bottom:20px;
}
.follow-email{
    position: relative;
    min-width: 570px;
     margin-top:8px;
    height: 86px;
    margin-left: 113px;
  }
  .follow-email-input{
    width: 358px;
    margin-right:12px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding:16px 15px;
    background: transparent;
    color:var(--color3);
  }
  .follow-email-button{
    position: absolute;
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    cursor: pointer;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: var(--font-bold);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    padding:10px 24px 10px 0;

  }
  .follow-icon-send{
    position: absolute;
    width:24px;
    height:24px;
    margin-left:10px;
    margin-top:3px;
     }
/* Index.html*/
.main-studio {
  position: relative;
}
.hero {
  max-width: 1600px;
  margin:0 auto;
  background: var(--bg-color2);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ),
    url(../images/bg_hero.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height:600px;
}
.hero-title {
  position: relative;
  width: 696px;
  margin: 0 auto;
  padding-bottom: 40px;
  font-weight: var(--font-ultra-bold);
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color:var(--bg-color1);
}
.hero-button {
  display:block;
  padding:10px 32px;
  margin: 0 auto;
  background: var(--color2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  font-weight: var(--font-bold);
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: var(--bg-color1);
  transition:  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover, .hero-button:focus{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.qualities {
  position: relative;
 
}
.list-qualities {
  display: flex;
  padding-inline-start: 0;
  justify-content: space-between;
}
.list-qualities-item {
  width: 270px;
  }
 .list-qualities-item::before{
    content:"";
    display:block;
    width:270px;
    height:120px;
    background-color: var(--bg-color3);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom:30px;
  
  }
  .list-antenna::before{
      background-image: url(../images/antenna.svg);
  }
  .list-clock::before{
    background-image: url(../images/clock.svg) ;
  }
  .list-diagram::before{
    background-image: url(../images/diagram.svg) ;
  }
  .list-astronaut::before{
    background-image: url(../images/astronaut.svg) ;
  }
.list-qualities-subtitle {
  font-size: 14px;
  line-height: 1.17;
  font-weight: var(--font-bold);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color:var(--main-color);
}
.list-qualities-text {
  font-weight: var(--font-normal);
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--color3);
  width:270px;
}
.pictures {
  position: relative;
  padding-top:0;
}
 .list-pictures {
  position:relative;
  margin:0;
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0;
 }
.list-pictures-label{
  position:absolute;
  width: 370px;
  bottom:0;
  padding-top:27px;
  padding-bottom:27px;
  text-transform: uppercase;
  text-align:center;
  letter-spacing: 0.03em;
  background: rgba(47, 48, 58, 0.8);
  color:#ffffff;
}
.list-pictures-label>p{margin:0;}
.list-pictures-item {
  width: 370px;
  height: 294px; 
  }
.pictures-title {
  font-weight:var(--font-bold);
  margin-top:0;
  margin-bottom:50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.team {
  margin: 0 auto;
  background-color:var(--bg-color3);
}
.team-list {
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0;
}
.team-list-item {
  width: 270px;
  background: #ffffff;
   material shadow v1; 
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-subtitle,
.team-text {
  margin:0;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team-content{
  padding:30px 0;
}
.team-subtitle{font-weight: var(--font-medium); margin-bottom:15px; }
.team .team-text {
  color: var(--color3);
  font-weight: var(--font-normal);
}
.team-title, .clients-title {
  position: relative;
  text-align: center;
  margin: 0 auto 50px auto;
  font-weight:var(--font-bold);
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  }
  .social-icons{
    display:flex;
    padding: 12px 30px 0 32px;
    width:270px;
    justify-content: space-between;
  }
  .social-link{
    width:44px;
    height:44px;
    padding:12px;
    color:#AFB1B8;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-link:hover,.social-link:focus{
    color:var(--border-color2);
    background-color:var(--color2) ;
    border-radius: 50%;
  }
  .social-link-icon{
    width:20px;
    height:20px;
    fill: currentColor;
    }
    .clients-link{
      display:inline-flex;
      border:1px solid var(--border-color);
      width:170px;
      height:92px;
      color:#AFB1B8;
      margin-right: 30px;
      border-radius: 4px;  
      transition:border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                 color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;   
    }
    .clients-icon{
      display:block;
      margin:0 auto;
  
    }
    .clients-link:last-of-type{
       margin-right: 0;
    }
.clients-link:hover,.clients-link:focus  {
  border-color:var(--color2);  
}
.clients-icon{fill:currentColor; }
/* Index.html*/
/*modal window*/
.backdrop{
  position: fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
              visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 .backdrop.is-hidden .modal{
  transform: translate(-50%, -50%) scale(0.5);
   }
.modal{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%) scale(1);
  width:528px;
  height:581px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
 
.modal-close{
  position: absolute;
  width: 30px;
  height:30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  top:8px;
  right:8px;
}
.modal-close:hover .icon-modal-close, .modal-close:focus .icon-modal-close{fill: var(--color2);}
.icon-modal-close{
  margin:8px auto;
  width:11px;
  height:11px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
input, textarea, a, button {outline-color: var(--color2);}
.backdrop.is-hidden{
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.hero-modal-title{
  position: absolute;
  font-family: Roboto;
  margin:0px;
  top:40px;
  left:41px;
  font-weight: var(--font-bold);
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}
.hero-modal-form{
  position: absolute;
  top:75px;
  left:41px;
  right:39px;
  width:448px;
  display: flex;
  flex-direction: column;
  font-weight:var(--font-normal);
}
.hero-modal-label{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  color: var(--color3);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;  
}
.input-comment::placeholder{
 font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;  
  color: rgba(117, 117, 117, 0.5);
}

.input-name, .input-phone, .input-email{
  width: 448px;
  height: 40px;
  border: 0.5px solid rgba(33, 33, 33, 0.2);;
  border-radius: 4px;
  margin-top:4px;
  padding:12px 12px 12px 42px;
  background-color: #fff;
  
}
 .icon-name,.icon-phone-number, .icon-form-mail{
    position:absolute;
    width:12px;
    height:12px;
    top: 30px;
    left:12px;
    fill:var(--main-color);
  }
  .icon-phone-number{
    top:98px;
  }
  .icon-form-mail{
    top:166px;
  }

.input-hover{ transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.hero-icon{ transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.hero-modal-label:hover .input-hover, .hero-modal-label:focus .input-hover {border-color: var(--color2); cursor: pointer;}
.hero-modal-label:hover .hero-icon, .hero-modal-label:focus-within .hero-icon{ fill: var(--color2);}
 
/*input{ transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}*/
.hero-modal-button{
  position: relative;
  width: 200px;
  height:50px;
  margin: 0 auto;
  top: 20px ;
  padding:10px 55px;
  background-color: var(--color2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-style: normal;
  font-weight: var(--font-bold);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  border:none;
}
.input-comment{
  width: 448px;
  height: 120px;
  margin-top:4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding:12px;
  font-family: var(--main-font);
  font-style:normal;
  font-weight:var(--font-normal);
  resize:none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  
}
.agreement_conditions{
  font-family: var(--main-font);
  font-style: normal;
  font-weight:var(--font-normal);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display:inline;
  margin: 10px 0 20px 12px;
  padding:0;
}
.agreement_conditions-link{
  text-decoration: underline;
  color: var(--color2);
  display:inline;
}
.agreement_conditions-text{
  position: absolute;
  left:35px;
  bottom:60px;
}
 .modal-checkbox {
  position: absolute;
  cursor: pointer;
  width: 14px;
  height: 13px;
  margin-top:3px;
  margin-left:1px;
  border-radius: 2px;
  opacity: 0;
    }
 .modal-checkbox:focus{opacity: 1;}
  .modal-checkbox:checked+.checkmark{ 
    background-color: var(--color2);
    background-image: url(../images/checkbox.svg); 
    background-repeat: no-repeat;
    background-position: center;
    border:none;
  }
   .checkmark:hover, .checkmark:focus{cursor:pointer;}
  .checkmark{
     position: absolute;
     width: 16px;
     height: 15px;
     left: 12px;
     border-radius: 2px;
     background-color: var(--border-color2);
     border:2px solid var(--main-color);
    }
   

  