.project__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  padding-inline-start: 0;
  justify-content: space-between;
  flex: auto;
}
.projects_item {
  position: relative;
  height: 404px;
  margin-bottom: 30px;
  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}
.projects_link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    .projects-thumb-overlay {
      transform: translateY(0);
      opacity: 1;
    }
  }
  &:hover,
  &:focus {
    display: block;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: inherit;
  }
}
.project-list__subtitle {
  font-weight: $font-bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.04em;
  margin: 0;
}
.project-list__text {
  font-weight: $font-normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: $color3;
}
.project-list__content {
  border: 1px solid $border-color2;
  border-top: 1px solid transparent;
  padding: 20px 24px;
}
.projects-thumb {
  position: relative;
  overflow: hidden;
}
.projects-thumb-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
  color: $border-color2;
  line-height: 1.56;
  font-weight: $font-normal;
  font-size: 18px;
}
.projects-thumb-overlay__text {
  margin: 0;
}
