footer {
  position: relative;
  width: 100%;
  background: $bg-color2;
  color: $bg-color1;
  padding: 60px 0;

  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
    width: 100%;
  }

  .footer__tablet {
    @media screen and (min-width: 768px) {
      display: flex;
    }
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
footer {
  .container {
    margin: 0 auto;
    @media screen and (min-width: 768px) {
      width: 768px;
      padding: 0;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      width: 1170px;
      justify-content: space-between;
    }
  }
}

footer {
  .logo {
    display: block;
    color: $bg-color1;
    margin: 0 auto;
    @media screen and (min-width: 480px) {
      padding: 16px 0;
    }
    @media screen and (min-width: 1200px) {
      margin: 0;
      padding: 0;
    }
  }
}
.address {
  display: block;
  margin: 30px auto 0 auto;
  text-align: center;
  width: 231px;
  font-style: normal;
  font-weight: $font-normal;
  @media screen and (min-width: 480px) {
    text-align: center;
    margin-top: 15px;
  }
  @media screen and (min-width: 768px) {
    text-align: center;
    margin-top: 15px;
  }
  @media screen and (min-width: 1200px) {
    text-align: left;
    margin: 30px 0 0 0;
  }
}
.footer_contacts {
  margin: 0 auto 60px auto;

  @media screen and (min-width: 1200px) {
    margin: 0;
    text-align: left;
  }
}

.footer_contacts__mail,
.footer_contacts__phone {
  text-align: center;
  display: block;
  margin-top: 15px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.footer_contacts__mail {
  &:link {
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  &:hover,
  &:focus {
    color: $color2;
  }
}
.footer_contacts__phone {
  &:link {
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  &:hover,
  &:focus {
    color: $color2;
  }
}
