.header {
  padding: 24px 0 25px 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: $border-color;
}
.header-contacts__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 340px;
  justify-content: space-between;
  margin-left: auto;
  margin-top: -20px;
  padding: 0;
}

.header-contacts__link {
  display: flex;
  align-items: center;
}
.header-contacts__icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.header-contacts__icon-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
.header-contacts__mail,
.header-contacts__phone {
  color: $color3;
}
