.hero {
  width: 100%;
  margin: 0 auto;
  background: $bg-color2;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../../images/bg_hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  @media screen and (min-width: 480px) {
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    width: 100%;
    max-width: 768px;
    margin: 0;
    height: 400px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    width: 100%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
  }
}
.hero {
  .container {
    @media screen and (min-width: 480px) {
      padding-top: 50px;
      margin: 0 auto;
    }
    @media screen and (min-width: 768px) {
      padding-top: 66px;
    }
    @media screen and (min-width: 1200px) {
      padding-top: 206px;
    }
  }
}
.hero__title {
  position: relative;
  width: 360px;
  margin: 0 auto;
  padding-bottom: 40px;
  font-weight: $font-ultra-bold;
  font-size: 26px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $bg-color1;
  @media screen and (max-width: 480px) {
    margin-top: 16%;
  }

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    width: 696px;
  }
}
.hero__button {
  display: block;
  padding: 10px 32px;
  margin: 0 auto;
  @extend %button;
}

.hero__button {
  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
