.menu__button {
  position: absolute;
  display: flex;
  width: 40px;
  height: 40px;
  right: 20px;
  top: 24px;
  padding: 0;
  background: transparent;
  border: none;
  justify-content: center;
  &:hover .icon-menu,
  &:focus .icon-menu {
    fill: $color2;
  }
  @media screen and(min-width:768px) {
    display: none;
  }
}
.icon-cross {
  display: none;
}
.icon-menu {
  display: block;
}

.menu-container {
  position: absolute;
  top: 100%;
  width: 100%;

  left: 0;
  opacity: 0;
  pointer-events: none;
  height: 796px;
  padding: 38px 0;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  z-index: 100;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &.is-open {
    opacity: 1;
    pointer-events: auto;
  }
  @media screen and(max-width:400px) {
    height: 820px;
  }
  .menu-container__socials {
    display: flex;
    flex-wrap: nowrap;
    margin: 64px 0 0 35px;
    padding: 0;
    font-size: 18px;
    line-height: 1.22;
    color: $color2;
    width: 357px;
    justify-content: space-around;
    .menu-container__item {
      border-right: 1px solid $color2;
      padding-right: 10px;
    }
    .menu-container__item:last-child {
      border-right: none;
      padding-right: 0;
    }
    @media screen and(max-width:400px) {
      width: 80%;
      flex-wrap: wrap;
    }
  }
}
.menu-container__navigation__list {
  font-size: 40px;
  line-height: 1.175;
  .menu-container__navigation__item {
    margin-bottom: 35px;
  }
  .menu-container__navigation__link_active {
    color: $color2;
  }
}
.menu-container__contacts {
  margin-top: 302px;
  padding: 0 40px;
  .menu-container__contacts__phone {
    color: $color2;
    font-size: 34px;
    line-height: 1.17;
    margin-bottom: 32px;
  }
  .menu-container__contacts__mail {
    color: $color3;
    font-size: 24px;
    line-height: 1.4;
  }
}
.menu__button.is-open .icon-cross {
  display: block;
}
.menu__button.is-open .icon-menu {
  display: none;
}
