$main-color: #212121;
$color2: #2196f3;
$color3: #757575; /*for all light gray elements*/
$border-color: #e5e5e5;
$border-color2: #eeeeee;
$bg-color1: #ffffff;
$bg-color2: #2f303a; /*section .hero */
$bg-color3: #f5f4fa; /* .team */
$main-font: Roboto, sans-serif;
$logo-font: Raleway, sans-serif;
$font-normal: 400;
$font-medium: 500;
$font-bold: 700;
$font-ultra-bold: 900;
$projects-item-gap: 30px;
